# Variables de entorno
.env

# Dependencias
node_modules/
Api/node_modules/
finanzas-frontend/node_modules/

# Builds
dist/
finanzas-frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*